.tela-perfil-completa {
  margin: 0;
  padding: 0;
}

.tela-perfil {
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #FFD54F 0%, #f1f1f0 50%);
  height: 90vh;
  font-family: 'Century Gothic', sans-serif;
}

.perfil {
  width: 65%;
  max-width: 750px;
  padding: 2%;
}


/* Retângulos */
.retangulo {
  border-radius: 15px;
  border: 1px solid #d6d6d6;
  padding: 2%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Foto, Nome e Email */
.foto-nome-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.foto-container .foto_perfil {
  border-radius: 50%;
  margin: 0.5rem 0;
  background-color: #eaeaea; 
  border: 2px solid #B0B0B0;
  padding: 1px;
  display: flex;
  justify-content: center;
}

.foto_perfil {
  all: unset; /* Remove os estilos padrão do botão */
  border-radius: 50%;
  margin: 0.5rem 0;
  background-color: #eaeaea; 
  border: 2px solid #B0B0B0;
  padding: 1px;
  display: flex;
  justify-content: center;
}

.foto_perfil svg {
  color: #B0B0B0;  
}

.nome-perfil {
  margin: 0.5rem 0 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
}


.email-perfil {
  margin: 0;
  color: #666;
}


/* Dados Pessoais */
.dados-pessoais {
  margin-top: 0.5rem;
}


.titulo-dados {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3%;
  margin-left: 1%;
  margin-top: 1%;
}


/* Estrutura das colunas */
.conteudo-dados {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}


.coluna-esquerda {
  flex: 1;
  border-right: 1px solid #a9a9a9;
  padding-right: 1rem;
}


.coluna-direita {
  flex: 1;
  padding-left: 1rem;
}


/* Campos de Dados */
.campo {
  margin-bottom: 1rem;
}


.rotulo {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-left: 2%;
}


.valor {
  font-size: 1rem;
  color: #444;
  margin-bottom: 0.5rem;
  margin-left: 2%;
}


/* Ícones de Ação */
.icones-acoes {
  display: flex;
  gap: 1rem;
  margin-top: 1.8rem;
  margin-right: 6%;
  justify-content: flex-end;
}


.icone-editar,
.icone-deletar {
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 0.2s;
}


.icone-editar:hover {
  color: #2e7d32;
  transform: scale(1.1);
}


.icone-deletar:hover {
  color: #d32f2f;
  transform: scale(1.1);
}


/*Editar Perfil - Modal */


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}


.modal-content label {
  display: block;
  margin-top: 10px;
}

.editarT {
  margin-bottom: 5%;
}

.inputs {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}


.inputs:focus {
  border-color: #F2E0A1;
  outline: none;
}


.select-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.select-group select {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.select-group select:focus {
  border-color:  #F2E0A1;
  outline: none;
}


.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.cancelar_bnt,
.salvar_bnt {
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
}


.cancelar_bnt {
  background-color: #F44336;
  color: #fafafa;
}


.salvar_bnt {
  background-color: #4CAF50;
  color: #fafafa;
}


.cancelar_bnt:hover {
  background-color: #ffffff;
  border: 1px solid #F44336;
  color: #F44336;
}


.salvar_bnt:hover {
  background-color: #ffffff;
  border: 1px solid #4CAF50;
  color: #4CAF50;
}


.salvar_bnt:disabled {
  background: #a9a9a9;
  color: #7f7f7f;
  border: 1px solid #7f7f7f;
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.6;
}


.erro {
  margin: 3% 15% 2%;
  color: #d32f2f;
  background-color: #ffebee;
  border: 1px solid #ffcdd2;
  border-radius: 5px;
  padding: 0.5% 1%;
  font-size: 0.9vw;
  font-weight: 500;
  text-align: center;
  width: 70%;
  max-width: 500px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Modal de Deletar Cliente */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.btn-confirm {
  background: #ff4d4f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cancel {
  background: #ddd;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


/* Responsividade */
@media (max-width: 768px) {
  .perfil {
    width: 90%;
  }


  .conteudo-dados {
    flex-direction: column;
  }


  .linha-divisoria {
    display: none;
  }


  .icones-acoes {
    justify-content: center;
  }
}
