/* Tela Completa */
.tela-perfil-completa {
  margin: 0;
  padding: 0;
}

/* Tela de Perfil */
.tela-perfil {
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #FFD54F 0%, #f1f1f0 50%);
  height: 90vh;
  font-family: 'Century Gothic', sans-serif;
}

/* Perfil */
.perfil {
  width: 65%;
  max-width: 750px;
  padding: 2%;
}

/* Retângulos */
.retangulo {
  border-radius: 15px;
  border: 1px solid #d6d6d6;
  padding: 2%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Foto, Nome e Email */
.foto-nome-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.foto-container {
  display: flex;
  justify-content: center;
}

.foto-perfil {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0.5rem 0;
  border: 2px solid #B0B0B0;
}

.nome-perfil {
  margin: 0.5rem 0 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.email-perfil {
  margin: 0;
  color: #666;
}

/* Dados Pessoais */
.dados-pessoais {
  margin-top: 0.5rem;
}

.titulo-dados {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3%;
  margin-left: 1%;
  margin-top: 1%;
}

/* Estrutura das colunas */
.conteudo-dados {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.coluna-esquerda {
  flex: 1;
  border-right: 1px solid #a9a9a9; 
  padding-right: 1rem; 
}

.coluna-direita {
  flex: 1;
  padding-left: 1rem; 
}

/* Campos de Dados */
.campo {
  margin-bottom: 1rem;
}

.rotulo {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-left: 2%;
}

.valor {
  font-size: 1rem;
  color: #444;
  margin-bottom: 0.5rem;
  margin-left: 2%;
}

/* Ícones de Ação */
.icones-acoes {
  display: flex;
  gap: 1rem;
  margin-top: 1.8rem;
  margin-right: 6%;
  justify-content: flex-end;
}

.icone-editar,
.icone-deletar {
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.icone-editar:hover {
  color: #2e7d32;
  transform: scale(1.1);
}

.icone-deletar:hover {
  color: #d32f2f;
  transform: scale(1.1);
}

/*Editar Perfil - Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.modal-content label {
  display: block;
  margin-top: 10px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.erro {
  margin: 3% 15% 2%; 
  color: #d32f2f; 
  background-color: #ffebee; 
  border: 1px solid #ffcdd2; 
  border-radius: 5px; 
  padding: 0.5% 1%;
  font-size: 0.9vw; 
  font-weight: 500;
  text-align: center;
  width: 70%; 
  max-width: 500px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
  .perfil {
    width: 90%;
  }

  .conteudo-dados {
    flex-direction: column;
  }

  .linha-divisoria {
    display: none;
  }

  .icones-acoes {
    justify-content: center;
  }
}
