
.logando {
  font-family: 'Century Gothic', sans-serif;
  box-sizing: border-box;
}

.pag-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}

.imagem-login {
  display: flex;
  width: 25%;
  height: 90%;
  margin-top: 6.5%;
}

.form-login {
  width: 30%;
  height: 64%;
  padding: 2%;
  border: 1px solid #f6b927;
  background-color: #fff;
}

.elem-login {
  display: flex;
  flex-direction: row;
  margin-bottom: 6%;
  width: 100%;
  height: 80vh;
  justify-content:center;
  align-items: center;
}

.texto-principal {
  font-weight: bold;
  color: black;
  font-size: 170%;
  margin-top: 12%;
  text-align: center;
  margin-bottom: 5%;
}

.formulario-grupo {
  margin-bottom: 2%;
  position: relative;
}

.formulario-grupo input[type="email"],
.formulario-grupo input[type="password"],
.formulario-grupo input[type="text"] {
  width: 100%; 
  padding: 2%;
  border-radius: 15px;
  border: 1px solid #bababa;
  background-color: #ffffff;
}

.formulario-grupo input[type="email"] ::placeholder,
.formulario-grupo input[type="password"] ::placeholder {
  opacity: 0.5;
  color: #b8b7b7;
}

.icone-eye {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  outline: none; 
  position: absolute;
  font-size: 90%;
  right: 3%;
  color: #8f8f8f;
}

.formulario-grupo input[type="submit"] {
  width: 30%;
  font-size: 95%;
  margin-bottom: 5%;
  padding: 2% 1%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FFD54F, #FFB300);
  box-shadow: 0% 0.4% 0.6% rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario-grupo input[type="submit"]:hover {
  background: linear-gradient(to bottom, #FFB300, #FFD54F);
}

.formulario-grupo input[type="submit"]:active {
  background: linear-gradient(to bottom, #FFA000, #FFC107);
}

.formulario-links a {
  display: flex;
  justify-content: flex-end;
  color: #FCB900;
  text-decoration: none;
  font-size: 85%;
  cursor: pointer;
  margin-bottom: 3%;
}

.formulario-links a:hover {
  color: #cc930f;
}

.formulario-links a:active {
  color: #a76c0b;
}

.texto-criar-conta {
  display: flex;
  justify-content: flex-end;
  color: #333;
  font-size: 85%;
}

@media screen and (max-width: 600px) {

  .imagem-login {
    display: none;
  }
  
  .form-login {
    width: 65%;
    height: auto;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  
  .texto-principal {
    font-size: 90%;
    margin-bottom: 10%;
  }

  .formulario-grupo input[type="email"],
  .formulario-grupo input[type="password"],
  .formulario-grupo input[type="text"] {
    width: 100%;
    padding: 1.5%;
  }

  .formulario-grupo input[type="email"]::placeholder,
  .formulario-grupo input[type="password"]::placeholder {
    font-size: 65%; 
    text-indent: 3%; 
  }

  .icone-eye {
    padding-top: 8%;
    font-size: 60%;
  }

  .formulario-links a {
    width: 100%;
    font-size: 60%;
    margin-bottom: 7%;
  }

  .texto-criar-conta {
    font-size: 60%;
  }

  .formulario-grupo input[type="submit"] {
    width: 30%;
    padding: 1.5%;
    margin-bottom: 7%;
    font-size: 65%;
  }
}