
/* Carrosel */

.img-carrosel {
  width: 100%;
  height: auto;
  margin-top: 2.5%;
}

/* Principais Trabalhos */

.home-text {
  font-size: 150%;
  color: black;
  font-weight: bolder;
  margin-top: 7%;
  margin-bottom: 3%;
  border-bottom: solid #FDCA05;
  width: 20%;
  padding-bottom: 0.5%;
}

.trabalhos-img {
  display: flex;
  justify-content: center;
}

.trabalhos-img .item {
  width: 10%;
  height: 10%;
  margin: 1.5%;
  text-align: center;
}

.trabalhos-img .item img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.text-descritivo {
  font-size: 75%;
  color: #4f4f4f;
  font-family: 'Century Gothic', sans-serif;
  margin-top: 6%;
}

/* Cards */


.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  padding: 3% 3%;
  justify-content: center;
  background-image: url("../../public/home/cards/fundo.card.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  width: 18%;
  height: auto;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 2%;
  overflow: hidden; 
} 

.promo-fita {
  font-size: 100%;
  position: absolute;
  top: 3%; 
  z-index: 1; 
  color: white;
  padding: 0.5% 0; 
  text-align: center;
  left: -10%; 
  width: 40%;
  transform: rotate(-45deg);
}

.imagemCard {
  height: 50%;
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.titulo-text {
  height: 10%;
  font-size: 95%;
  padding-top: 5%;
}

.conteudo-text {
  height:50%;
  font-size: 95%;
  padding: 10% 7% 2% 7%;
}

.botao-card {
  padding: 5% 20%;
  border: none;
  background: linear-gradient(to bottom, #FFD54F, #FFB300);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  transition: 0.5s background;
}

.botao-card:hover {
  background: linear-gradient(to bottom, #FFB300, #FFD54F);
}

.texto-bntCard {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font-size: 95%;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
}

.texto-bntCard:hover {
  color: #000000;
}

/* Ajustando propriedades dos cards dentro do carrossel */
.ant-carousel .card .titulo-text,
.ant-carousel .card .conteudo-text,
.ant-carousel .promo-fita {
  font-size: 15.2px; 
}

.ant-carousel .card .titulo-text,
.ant-carousel .card .conteudo-text,
.ant-carousel .card .texto-bntCard {
  line-height: 1.2; 
}

.ant-carousel .promo-fita {
  text-shadow: 5px 5px 5px rgb(255, 255, 255, 0.5);
}

/* Marcas que já passaram por aqui (img) */

.time-text {
  font-size: 150%;;
  color: black;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  margin-top: 7%;
  width: 20%;
  padding-bottom: 0.5%;
}

.time1-text {
  font-size: 140%;
  color: #FDCA05;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  width: 20%;
}

.times-img {
  width: 80%;
  height: 80%;
  margin-top: 3%;
  margin-bottom: 5%;
}


@media screen and (max-width: 600px) {

  /* Carrossel */
  .img-carrosel {
    margin-top: 5%;
  }

  /* Principais Trabalhos */
  .home-text {
    font-size: 90%; 
    margin-top: 10%;
    margin-bottom: 7%;
    width: 50%;
  }

  .trabalhos-img .item {
    width: 18%; 
  }

  .text-descritivo {
    font-size: 35%;
  }

  /* Cards */
  .cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 5% 3%;
  }

  .card {
    width: 30%;
    margin: 0%;
    border-radius: 20px;
  }

  .promo-fita {
    font-size: 50%;
    top: 4%;
    padding: 0.5% 0;
    left: -10.5%; 
    width: 50%;
  }

  .imagemCard {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .titulo-text {
    font-size: 50%;
    padding-top: 8%;
  }

  .conteudo-text {
    font-size: 48%; 
    padding: 12% 9%; 
  }

  .botao-card {
    padding: 1% 7%;
    margin-bottom: 2%;
  }

  .texto-bntCard {
    font-size: 50%;
  }

  /* Ajustando propriedades dos cards dentro do carrossel */
  .ant-carousel .card .titulo-text,
  .ant-carousel .card .conteudo-text,
  .ant-carousel .promo-fita {
    font-size: 8px;
  }

  .ant-carousel .promo-fita {
    left: -13%; 
    width: 60%;
  }

  /* Marcas que já passaram por aqui (img) */
  .time-text {
    font-size: 90%; 
    margin-top: 10%;
    width: 40%; 
  }

  .time1-text {
    font-size: 80%;
    width: 40%;
  }

  .times-img {
    width: 95%; 
    height: auto;
    margin-top: 5%;
    margin-bottom: 10%;
  }
}
